apiVersion: v1
kind: Service
metadata:
  name: url-shortener-service
spec:
  type: NodePort
  selector:
    app: url-shortener
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
      nodePort: 30001 # Fixed NodePort for easier access/testing. Available range: 30000-32767