name: CD Pipeline

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed

jobs:
  deploy:
    runs-on: [self-hosted, k3s, cd]

    if: >
      github.event.workflow_run.conclusion == 'success' &&
      github.event.workflow_run.head_branch == 'main'

    steps:
        # -------------------------------------------------------
        # 1. Checkout Code
        # -------------------------------------------------------
      - name: Checkout repository
        uses: actions/checkout@v4

        # -------------------------------------------------------
        # 2. Deploy to Kubernetes Cluster
        # -------------------------------------------------------
      - name: Deploy to Kubernetes
        run: |
          kubectl apply -f k8s/deployment.yaml
          kubectl apply -f k8s/service.yaml

        # -------------------------------------------------------
        # 3. Verify Deployment
        # -------------------------------------------------------
      - name: Verify rollout
        run: |
          kubectl rollout status deployment/url-shortener

        # -------------------------------------------------------
        # 4. DAST (Dynamic Application Security Testing) - Health Check
        # -------------------------------------------------------
      - name: DAST - Health Check
        run: |
          echo "Waiting for service..."
          sleep 10
          curl -f http://localhost:30001/health
